{% extends "base.html" %}
{% load static %}

{% block Title %}
    {{resource.title}}
{% endblock Title %}

{% block meta %}
    <meta name="description" content="{{resource.tags.all|join:", "}}, {{resource_url_keywords}}, {{resource.description}}">
    <meta name="keywords" content="{{resource.tags.all|join:", "}}, {{resource_url_keywords}}"/>
{% endblock meta %}

{% block content %}
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-xs-12">

                <h1>{{resource.title}}</h1>
                <p>{{resource.description}}</p>
                <a href="{{resource.url}}" class = "btn btn-primary" title = "{{resource.title}}">Visit URL</a>
            </div>
        </div>
    </div>

    
{% endblock content %}