{% extends "base.html" %}

{% block Title %}
    Home
{% endblock Title %}


{% block content %}
    <form method = 'GET'  action = "{% url 'Search' %}" class = 'navbar-form navbar-right' >
      <div class = 'form-group'>
        <input type = 'text' name = 'search_q' value = '{{request.GET.Post}}' placeholder = 'Search'/>
      </div> <!-- form-group -->
      <div class = 'form-group'>
        <input type = 'submit' value = 'Search'/>
      </div> <!-- form-group -->
    </form>



    {% for course in courses  %}
        <h2>{{course}}</h2>
        
    {% endfor %}

    {% if resources %}

        {% for resource in resources  %}
            <h3>{{resource}}</h3>
            
        {% endfor %}
    {% else %}
        <h3>Sorry, No Resources Found.</h3>
    {% endif %}
{% endblock content %}