{% extends "base.html" %}
{% load static %}

{% block Title %}
    Who Own these Notes
{% endblock Title %}

{% block meta %}
    <meta name="description" content="notes, ncit, pokhara univiersity">
    <meta name="keywords" content="who own the notes of ncit notefinder, notes, ncit, pokhara univiersity"/>
{% endblock meta %}

{% block content %}
    <div class = "container">


                <h1>Who own the notes of NCIT Note Finder?</h1>
                <p class="lead">
                    
                    The Short Answer is the Person/Organization who give their effor to create these notes.
                    
                </p>
                

    </div>

    
{% endblock content %}